In [121]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import datetime as dt

In [122]:
os.chdir('C:\Work\WORK_PACKAGE\Demand_forecasting\github\DeepAR-pytorch\My_model\Rental_Fleet_Demand_Forecast\data\\raw_data')

raw_df = pd.read_csv('unmet_demand.csv')
raw_df = raw_df.loc[50:].reset_index(drop=True) # remove dates 23/9/2021 as it is missing in met demand
raw_df = raw_df.drop(columns='Unnamed: 0')
raw_df

,ID,subscriber,start station,closure reason,start date,end date
0,1c237ece,86298ab3,113,Cancelled,24/9/2021 0:06,24/9/2021 0:40
1,f7b307b2,236b7f47,41,Cancelled,24/9/2021 0:19,24/9/2021 2:00
2,e51ead9c,b48dfdf8,174,Cancelled,24/9/2021 0:56,24/9/2021 2:56
3,720e3dc9,52b9c7f4,155,Cancelled,24/9/2021 1:16,24/9/2021 1:44
4,181ca52d,a7117d7e,204,Cancelled,24/9/2021 1:17,24/9/2021 1:23
...,...,...,...,...,...,...
53899,88132df2,4e61cedf,4,Cancelled,23/12/2021 17:17,23/12/2021 17:17
53900,5e5bcc26,891d3da6,13,Cancelled,23/12/2021 17:17,23/12/2021 17:23
53901,8eefc389,1cdbe39e,344,Cancelled,23/12/2021 17:21,23/12/2021 17:27
53902,269b6dba,39ab858d,261,Cancelled,23/12/2021 17:23,23/12/2021 17:23
53903,5e21f1cd,25b45ed1,269,Cancelled,23/12/2021 17:23,23/12/2021 17:23

In [123]:
UnmetDemand_stations_list = np.sort(raw_df['start station'].unique())
print(UnmetDemand_stations_list)

[  4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21
  22  23  24  25  26  27  28  29  31  32  33  34  35  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113
 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131
 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149
 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185
 186 187 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204
 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222
 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240
 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258
 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276
 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294
 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312
 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330
 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348
 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389]

In [124]:
start_datetime = dt.datetime.strptime("2021-09-24 00:00:00","%Y-%m-%d %H:%M:%S")
end_datetime = dt.datetime.strptime("2021-12-23 19:00:00","%Y-%m-%d %H:%M:%S")

date_range = pd.date_range(start=start_datetime, end=end_datetime, freq='H')
UnmetDemand_df = pd.DataFrame(0,columns=UnmetDemand_stations_list,index=date_range)
UnmetDemand_df

,4,5,6,7,8,9,10,11,12,13,...,380,381,382,383,384,385,386,387,388,389
2021-09-24 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 01:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 02:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 03:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 04:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-23 15:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 16:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 17:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 18:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 19:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [137]:
raw_df.iloc[4000:]

,ID,subscriber,start station,closure reason,start date,end date
4000,f9140fae,8467fb10,192,Cancelled,1/10/2021 12:40,1/10/2021 14:40
4001,4ac77ac8,fe2aec31,378,Cancelled,1/10/2021 12:42,1/10/2021 13:17
4002,c62a13cc,44c8ab20,373,Cancelled,1/10/2021 12:48,1/10/2021 13:10
4003,88f2c445,a0396f0e,313,Cancelled,1/10/2021 12:49,1/10/2021 13:52
4004,89e4adae,ed15c100,365,Cancelled,1/10/2021 12:55,1/10/2021 13:09
...,...,...,...,...,...,...
53899,88132df2,4e61cedf,4,Cancelled,23/12/2021 17:17,23/12/2021 17:17
53900,5e5bcc26,891d3da6,13,Cancelled,23/12/2021 17:17,23/12/2021 17:23
53901,8eefc389,1cdbe39e,344,Cancelled,23/12/2021 17:21,23/12/2021 17:27
53902,269b6dba,39ab858d,261,Cancelled,23/12/2021 17:23,23/12/2021 17:23
53903,5e21f1cd,25b45ed1,269,Cancelled,23/12/2021 17:23,23/12/2021 17:23

In [138]:
for i in range(len(raw_df)):
    str_station = raw_df.loc[i,'start station']

    str_date = dt.datetime.strptime(raw_df.loc[i,'start date'],"%d/%m/%Y %H:%M")
    #str_date = pd.to_datetime(raw_df.loc[i,'start date'])
    str_date = str_date.replace(minute=0, second=0)
    UnmetDemand_df.loc[str_date,str_station]+=1
    #print(UnmetDemand_df.loc[str_date,str_station])

In [145]:
enumerate(UnmetDemand_df.columns)

In [146]:
os.chdir('C:\Work\WORK_PACKAGE\Demand_forecasting\github\DeepAR-pytorch\My_model\Rental_Fleet_Demand_Forecast\data\station_level\outflow_data')

UnmetDemand_df.columns = UnmetDemand_df.columns.astype(str)
UnmetDemand_df.to_parquet('UnmetDemand_df_station_level.parquet')
UnmetDemand_df

,4,5,6,7,8,9,10,11,12,13,...,380,381,382,383,384,385,386,387,388,389
2021-09-24 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 01:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 02:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 03:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-09-24 04:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-23 15:00:00,1,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 16:00:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 17:00:00,1,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 18:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-12-23 19:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0